/* Portfolio.html */

.jobs.container {
  padding-top: 93px;
  padding-bottom: 94px;
}

.main-jobs {
  display: flex;
  flex-wrap: wrap;
}

.main-jobs-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.main-jobs-item:nth-child(3n) {
  margin-right: 0px;
}

.main-jobs-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.main-jobs-item-link {
  display: block;
}

.main-jobs-item-link-img {
  display: block;
}

.main-btn {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: var(--backgraoud-color-secondary);
  color: var(--titel-light-color);
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-color: #f5f4fa;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-item-list:not(:last-child) {
  margin-right: 8px;
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--accent-color);
  color: var(--backgraoud-color);
  border-color: var(--accent-color);
}

.main-jobs-item {
  border: 1px solid #eeeeee;
}

.main-jobs-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.main-jobs-item:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.main-jobs-item:hover .jobs-titel-text {
  transform: translateY(0);
}

.jobs-titel {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titel-light-color);
  padding-left: 24px;
  margin-bottom: 4px;
}

.jobs-titel-item {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--titel-dark-color);
  padding-left: 24px;
}
.jobs-titel-text {
  display: block;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  color: var(--backgraoud-color);
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(100%);
  top: 0px;
  left: 0px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-item {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/*MODEL)*/

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-form {
  width: 528px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.model-form-titel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.model-form-input {
  display: block;
  width: 100%;
  height: 40px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.model-form-input-wrapper {
  position: relative;
  margin-bottom: 28px;
}

.model-form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-form-message {
  position: relative;
  width: 448px;
  height: 120px;
  resize: none;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.model-form-input-message {
  position: relative;
  margin-bottom: 20px;
}

.model-form-message-comment {
  position: absolute;
  top: 12px;
  left: 16px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}
.model-form-option-label {
  margin-bottom: 30px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.model-form .model-btn {
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
}

.model-form-option-label {
  display: flex;
  height: 24px;
  align-items: center;
  padding-left: 12px;
}

.model-form-option-span a {
  color: #2196f3;
}

.model-form-option-span {
  text-align: center;
}

.model-form-input:focus + .model-form-label,
.model-form-input:not(:placeholder-shown) + .model-form-label {
  transform: translateY(-39px);
  left: 19px;
  color: var(--accent-color);
  font-size: 12px;
  line-height: 1.16;
}

.model-form-input:focus ~ .model-form-img,
.model-form-input:not(:placeholder-shown) ~ .model-form-img {
  fill: var(--accent-color);
}

.model-form-message:focus + .model-form-message-comment,
.model-form-message:not(:placeholder-shown) + .model-form-message-comment {
  transform: translateY(-30px);
  color: var(--accent-color);
  font-size: 12px;
  line-height: 1.16;
}

.model-form-input:focus,
.model-form-message:focus,
.model-form-input:not(:placeholder-shown),
.model-form-message:not(:placeholder-shown) {
  outline: none;
  border-color: var(--accent-color);
}

.model-form-message:focus::placeholder {
  color: var(--accent-color);
}

.model-form-img {
  display: block;
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-form-chek {
  display: block;
  width: 16px;
  height: 15px;
  fill: #fff;
  border: 2px solid #000;
  border-radius: 2px;
  margin-right: 8.38px;
}
.model-form-checkbox:checked + .model-form-chek {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #000000;
  outline: none;
}
.model-form-img-close {
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .model-form-img-close,
.modal-btn:focus .model-form-img-close {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
